# {{handler_name.title()}} Handler

This handler integrates with the ...

## Example: 

TBD 

### Connect to the {{handler_name.title()}} API
We start by creating a database to connect to the {{handler_name.title()}} API

```
CREATE DATABASE my_{{handler_name}}
WITH
  ENGINE = '{{handler_name}}'
  PARAMETERS = {};
```

### Select Data

TBD

### Train a Model

TBD

### Making Predictions

TBD
